:root{
  --app-green: #10A37F;
  --app-orange: #ef8354;
  --app-dark: #2d3142;
  --app-dark-grey: #4f5d75;
  --app-grey: #71809b;
  --app-light-grey:#bfc0c0;
  --app-font: #edf2f4;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--app-font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display: flex;
  text-align: center;
}

.aside{
  padding: 10px;
  width: 15vw;
  min-width: 150px;
  height: 100vh;
  background-color: var(--app-dark);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dropdown-langs{
  background-color: var(--app-light-grey);
  height: 2.5rem;
  color: var(--app-dark);
  box-shadow: 0px 2.5px 5px var(--app-dark);
  cursor: pointer;
  user-select: none;
  padding: 0.5rem;
  position: relative;
  z-index: 100;
  display: flex;
}



.langs-options > div{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, var(--app-light-grey) 25%, var(--app-light-grey) 75%, rgba(255, 255, 255, 0.6) 100%);
  height: 2.5rem;
  color: var(--app-dark);
  /* border-bottom: var(--app-dark-grey) 1px solid; */
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s linear;
  opacity: 0.85;
}

.langs-options > div::after{
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 1px;
  background-color: var(--app-dark-grey);
}

.langs-options > div:nth-last-child(1)::after{
  content: none;
}

.langs-options > div:hover{
  opacity: 1;
}

.langs-options > div > div, .selected-lang{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.langs-options > div > div > div, .selected-lang > div {
  width: 50%;
  text-align: start;
}

.hidden{
  visibility: hidden;
}

.tokenPrice{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--app-grey);
  border-radius: 10px;
  margin: 5px;
}

.tokenPrice ul{
  text-align: left;
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
}

.navBar{
  position: relative;
  width: 100%;
}

.navList{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}

.contextCheckbox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.context{
  display: none;
  
}

.context.true{
  display: flex;
  background-color: var(--app-light-grey);
  height: 50px;
  justify-content: center;
  align-items: center;
}

.context form{
  width: 70%;
}

.context input{
  padding: 5px;
  width: 100%;
  border-radius: 3px;
  border: solid 1px var(--app-dark);
  outline: none;
}

.chatBox{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--app-dark-grey);
  position: relative;
  max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chatMessage{
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 30px;
}

.chatMessage.chatGPT {
  background-color: var(--app-grey);  
}

.chatMessage.system {
  background-color: rgb(47, 94, 133);
}

.chatMessage.success {
  background:
  linear-gradient(rgba(43, 204, 34, 0.1), rgba(42, 204, 34, 0.3)),
  rgb(47, 94, 133);
  border: solid 2px rgb(43, 204, 34, 0.5);
}

.chatMessage.error {
  background:
  linear-gradient(rgba(204, 34, 34, 0.3), rgba(204, 34, 34, 0.5)),
  rgb(47, 94, 133);
}

.explanation{
  background-color: var(--app-dark-grey);
  margin-top: 1rem;
  font-weight: bold;
  border: solid 2px rgba(204, 34, 34, 0.5);
  border-radius: 1rem;
  padding: 1rem;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--app-orange);
  height: 70px;
  width: 70px;
  min-width: 45px;
  margin-left: 30px;
  margin-top: 5px;
  border-radius: 50%;

}

.avatar.chatGPT{
  background-color: var(--app-green);
}

.avatar.user{
  background-image: url("./images/shrek.jpg");
  background-size: cover;
}

.avatar.system {
  background-color: var(--app-dark);
}

.message {
  margin-left: 30px;
}

.chat-input-box{
  position: sticky;
  bottom: 0;right: 0;left: 0;
  margin-top: auto;
  padding: 12px;
}

.chat-form{
  background-color: var(--app-light-grey);
  padding: 15px;
  box-shadow: 5px 5px 10px var(--app-dark);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.chat-input{
  background-color: var(--app-light-grey);
  border: none;
  outline: none;
  font-size: 1.5rem;
  width: 95%;

}

/* Models Selector */

.models-list {
  width: auto;
}

.models-selector {
  width: 100%;
  height: 2rem;
  border: none;
  color: var(--app-font);
  background-color: var(--app-green);
}

.models-selector div {
  border: none;
}

/* Waiting Animation */

.waitingAnimation{
  animation: spin 8s infinite linear;
  transform-origin: center;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(-360deg);
  }
}

.dot-typing {
  position: relative;
  width: 10px;
  height: 10px;
  top: 15px;
  border-radius: 5px;
  background-color: transparent;
  animation: dot-typing 1.2s infinite linear;
}

@keyframes dot-typing {
  0% {
    box-shadow: 12px 0 0 0 var(--app-light-grey), 27px 0 0 0 var(--app-light-grey), 42px 0 0 0 var(--app-light-grey);
  }
  16.667% {
    box-shadow: 12px -5px 0 0 var(--app-font), 27px 0 0 0 var(--app-light-grey), 42px 0 0 0 var(--app-light-grey);
  }
  33.333% {
    box-shadow: 12px 0 0 0 var(--app-light-grey), 27px 0 0 0 var(--app-light-grey), 42px 0 0 0 var(--app-light-grey);
  }
  50% {
    box-shadow: 12px 0 0 0 var(--app-light-grey), 27px -5px 0 0 var(--app-font), 42px 0 0 0 var(--app-light-grey);
  }
  66.667% {
    box-shadow: 12px 0 0 0 var(--app-light-grey), 27px 0 0 0 var(--app-light-grey), 42px 0 0 0 var(--app-light-grey);
  }
  83.333% {
    box-shadow: 12px 0 0 0 var(--app-light-grey), 27px 0 0 0 var(--app-light-grey), 42px -5px 0 0 var(--app-font);
  }
  100% {
    box-shadow: 12px 0 0 0 var(--app-light-grey), 27px 0 0 0 var(--app-light-grey), 42px 0 0 0 var(--app-light-grey);
  }
}

/* Slider */

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.slider-header div{
  display: flex;
  align-items: center;
}

.slider-header input{
  margin-left: 5px;
  width: 2rem;
  text-align: center;
}

.slider-header div input::-webkit-inner-spin-button,
.slider-header div input::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.slider-body {
  margin-top: 10px;
  width: 100%;
}

.slider-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider-bar:hover {
  opacity: 1;
}

.slider-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 50%;
  background: var(--app-green);
  cursor: pointer;
}

.slider-bar::-moz-range-thumb {
  width: 25px; 
  height: 25px;
  border: 0;
  border-radius: 50%;
  background: var(--app-green);
  cursor: pointer;
}

.slider-header{
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-left: 40px;
  padding-right: 40px;
}

/* Tooltips */

.tooltip{
  margin-left: 10px;
  position: relative;
}

.tooltip:hover .tooltipText{
  visibility: visible;
}

.contextCheckbox .tooltipText {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  margin-top: -5px;
  left: 150%;
  width: 300px;
  
  background-color: var(--app-dark);
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  text-align: left;
}

.slider .tooltipText{
  visibility: hidden;
  position: absolute;
  z-index: 1;
  margin-top: -5px;
  left: 150%;
  width: 300px;
  
  background-color: var(--app-light-grey);
  color: var(--app-dark);
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  text-align: left;
}

.slider .tooltip .tooltipText::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%; 
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--app-light-grey) transparent transparent;
}

.tooltip .tooltipText::after {
  content: " ";
  position: absolute;
  top: 15%;
  right: 100%; 
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--app-dark) transparent transparent;
}

/* Context Prompt Textarea */



/* Codeblock */

.codeblock {
  background-color:#4f5d75;
  border-radius: 10px;
  margin-top: 20px;
}

.codeblock div:nth-child(2) {
  border-radius: 0 0 10px 10px;
}

.codeblock-header {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0px;
  padding: 5px 10px;
}

.codeblock-header > span {
  font-style: italic;
}

.codeblock-header>button {
  font-size: larger;
  color: #edf2f4;
  background: none;
  border: none;
  cursor: pointer;
}

.align-center{
  display: flex;
  align-items: center;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.record_button_container{
  padding: 15px;
  border: white 2px solid;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: var(--app-dark-grey);
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.record_button{
  height: 1.5rem;
}


.record_button_container.isRecording{
  background-color: var(--app-orange);
}

.record_button_container:hover{
  background-color: var(--app-orange);
}